body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,125,6,1) 0%, rgba(55,136,38,1) 20%, rgba(0,212,255,1) 100%);
}
.mt-6{
	margin-top: 50px;
}

.mb-6{
	margin-bottom: 150px
}

.nav-bg-style{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,125,6,1) 0%, rgba(55,136,38,1) 20%, rgba(0,212,255,1) 100%);
}

td{
	border: 2px solid #333;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	font-family: "Cosmic Sans MS", cursive, sans-serif;
	font-size: 70px;
	cursor: pointer;
}
table{
	border-collapse: collapse;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}
