body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,125,6,1) 0%, rgba(55,136,38,1) 20%, rgba(0,212,255,1) 100%);
}
.mt-6{
    margin-top: 50px;
}

.mb-6{
    margin-bottom: 150px;
}

.cardsize{
    height: 250px;
}

.nav-bg-style{
    border-bottom: 1px solid black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,125,6,1) 0%, rgba(55,136,38,1) 20%, rgba(0,212,255,1) 100%);
}


.darktheme{
    background: rgb(44, 47, 51);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
    
}
input[type=number]{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    border: none;
    color: white;
    height: 35px;
    width: 35px;
    background: transparent;
    
}


table { 
    border-collapse: collapse; 
    font-family: Calibri, sans-serif; }


colgroup, tbody { 
    border: solid medium; }


td { border: solid thin; 
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center; 
    padding: 0; 

    }
